// Define CSS variables for theme colors
:root {
  --primary-color: #3f51b5; // Primary brand color (e.g., Indigo)
  --secondary-color: #ff9800; // Secondary brand color (Orange)
  --white: #ffffff;
  --black: #000000;
  --grey-500: #414042;
  --grey-400: #747275;
  --grey-300: #99979c;
  --grey-200: #e0dfda;
  --grey-100: #f2f2f2;
  --grey-50: #f7f7f7;
}
