<h1 class="title">User Management</h1>

<div class="users-list-container mat-elevation-z4">
  <!-- Search Input -->
  <mat-form-field class="search-field" appearance="outline">
    <mat-label>Search Users</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Search by any field..."
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <div class="users-list-table">
    <table mat-table [dataSource]="dataSource" matSort class="mat-table">
      <!-- Dynamic Columns -->
      @for (column of tableHeaders; track column) {
      <ng-container [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column | titlecase }}
        </th>
        <td mat-cell *matCellDef="let element">
          @if(!element.isEditing) {
          <span>{{ element[column] }}</span>
          } @else {
          <mat-form-field class="edit-field">
            <input matInput [(ngModel)]="element[column]" />
          </mat-form-field>
          }
        </td>
      </ng-container>
      }

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="actions-cell">
          <button mat-icon-button (click)="toggleEdit(element, $event)">
            <mat-icon>{{ element.isEditing ? "check" : "edit" }}</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Table Header & Rows -->
      <tr mat-header-row *matHeaderRowDef="tableHeadersWithActions"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: tableHeadersWithActions"
        (click)="goToDetails(row)"
        class="table-row"
      ></tr>
    </table>
    <!-- Paginator -->
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
